/*
 * The syntax dark mode styles.
 */

@mixin dark-syntax {
  /* syntax highlight colors from https://raw.githubusercontent.com/jwarby/pygments-css/master/monokai.css */
  .highlight{
    pre { background-color: var(--highlight-bg-color); }
    .hll { background-color: var(--highlight-bg-color); }
    .err { color: #960050; background-color: var(--highlight-bg-color); } /* Error */
    .c, /* Comment */
    .cm, /* Comment.Multiline */
    .cp, /* Comment.Preproc */
    .c1, /* Comment.Single */
    .cs /* Comment.Special */
    {
      color: #75715e;
    }

    .ge { color: inherit; font-style: italic; } /* Generic.Emph */
    .gs { font-weight: bold; } /* Generic.Strong */
    .k, /* Keyword */
    .kc, /* Keyword.Constant */
    .kd, /* Keyword.Declaration */
    .kp, /* Keyword.Pseudo */
    .kr, /* Keyword.Reserved */
    .kt, /* Keyword.Type */
    .no /* Name.Constant */
    {
      color: #28a1b9;
    }

    .na, /* Name.Attribute */
    .nc, /* Name.Class */
    .ne, /* Name.Exception */
    .nd, /* Name.Decorator */
    .nf, /* Name.Function */
    .nx /* Name.Other */
    { 
      color: #88b339; 
    }

    .o, /* Operator */
    .nt, /* Name.Tag */
    .kn, /* Keyword.Namespace */
    .ow /* Operator.Word */
    { 
      color: #f92672; 
    }

    .l, /* Literal */
    .m, /* Literal.Number */
    .mf, /* Literal.Number.Float */
    .mh, /* Literal.Number.Hex */
    .mi, /* Literal.Number.Integer */
    .mo, /* Literal.Number.Oct */
    .se, /* Literal.String.Escape */
    .il /* Literal.Number.Integer.Long */
    { 
      color: #ae81ff; 
    }

    .ld, /* Literal.Date */
    .s, /* Literal.String */
    .sb, /* Literal.String.Backtick */
    .sc, /* Literal.String.Char */
    .sd, /* Literal.String.Doc */
    .s2, /* Literal.String.Double */
    .sh, /* Literal.String.Heredoc */
    .si, /* Literal.String.Interpol */
    .sx, /* Literal.String.Other */
    .sr, /* Literal.String.Regex */
    .s1, /* Literal.String.Single */
    .ss /* Literal.String.Symbol */
    {
      color: #e6db74;
    }

    .n, /* Name */
    .p, /* Punctuation */
    .nb, /* Name.Builtin */
    .ni, /* Name.Entity */
    .nv, /* Name.Variable */
    .nl, /* Name.Label */
    .py, /* Name.Property */
    .w, /* Text.Whitespace */
    .bp, /* Name.Builtin.Pseudo */
    .vc, /* Name.Variable.Class */
    .nn, /* Name.Namespace */
    .vg, /* Name.Variable.Global */
    .vi /* Name.Variable.Instance */
    {
      color: #f8f8f2;
    }
    .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
    .gi { color: #88b339; background-color: #0b5858; } /* Generic.Inserted & Diff Inserted */
    .gd { color: #f92672; background-color: #561c08; } /* Generic.Deleted & Diff Deleted */
  }
  /* -----  custom styles ------ */

  --highlight-bg-color: #252525;
  --highlighter-rouge-color: #de6b18;
  --highlight-lineno-color: #6c6c6d;
  --inline-code-bg: #272822;
  --code-header-text-color: #6a6a6a;
  --code-header-muted-color: rgb(60 60 60);
  --code-header-icon-color: rgb(86 86 86);
  --clipboard-checked-color: #2bcc2b;

  .highlight {
    .gp { color: #818c96; }
  }

  pre { color: #bfbfbf; } /* override Bootstrap */
}
